body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0c75a671
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
    color: #2634d4;
}

#questionList {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

#instructions {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    color: #555;
}

h2 {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    color: #ff5733;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    margin: 10px 0;
}

.choice-button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgb(66, 119, 224);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.choice-button:hover {
    background-color: #fbc171;
}

#start {
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}